<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bite.recaptcha.mapper.xmlMapper">
    <resultMap id="userMap" type="org.bite.recaptcha.model.UserInfo">
        <id column="id" property="id"></id>
        <result column="phone" property="phoneNumber"></result>
        <result column="id" property="ArticleID"></result>

    </resultMap>
    <select id="count">
        select count(id) from userinfo
    </select>


    <insert id="insertUserInfo">
        INSERT INTO userinfo (id, username, password, age, gender, phone)
        values (#{id}, #{username}, #{password}, #{age}, #{gender}, #{phoneNumber})
    </insert>

    <select id="getUserInfo" resultMap="userMap">
        select * from userinfo
    </select>
    <select id="selectUserInfoByArticleId" resultMap="userMap">
        select *
        from userinfo
                 left join article on article.id = userinfo.id
        where userinfo.id = 3
    </select>


</mapper>